@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;800&display=swap");
.header {
  width: 80%;
  height: auto;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ffede0; }

.menu {
  display: flex;
  align-items: center; }
  .menu ul {
    height: 100%;
    display: flex; }
  .menu img {
    margin-right: 50px; }

ul li {
  display: flex;
  align-items: center; }
  ul li a {
    margin-right: 10px;
    text-decoration: none;
    color: #68707d; }
    ul li a:hover {
      color: #1d2025; }

.menu ul li:hover {
  border-bottom: 2px solid #ff7d1a; }

.menu-1 {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.user-photo {
  width: 50%; }
  .user-photo img {
    max-width: 100%;
    height: auto; }
    .user-photo img:hover {
      border: 2px solid #ff7d1a;
      border-radius: 50%; }

.container {
  display: flex;
  justify-content: space-between;
  width: 75%;
  height: auto;
  margin: 0 auto;
  margin-top: 50px; }

.container__product {
  width: 45%;
  height: auto; }

.mySlide {
  display: none; }
  .mySlide img {
    border-radius: 0.625rem; }

.mySlide.active {
  display: block; }

.container__thumbnails {
  display: flex;
  justify-content: space-between;
  margin-top: 15px; }
  .container__thumbnails img {
    border-radius: 0.625rem;
    width: 90px;
    height: auto; }

.container__product-main {
  width: 45%;
  height: auto; }

.container__product-headline p {
  color: #ff7d1a; }

.container__product-headline h1 {
  font-size: 2.5em; }

.container__product-desc {
  font-size: 0.875em;
  color: #68707d; }

.container__product-price {
  display: flex;
  align-items: center; }
  .container__product-price p {
    font-weight: 700;
    margin-right: 1rem; }
  .container__product-price span {
    font-size: 0.625em;
    padding: 0.125rem;
    color: #ff7d1a;
    background-color: #ffede0; }

.container__product-old-price {
  text-decoration-line: line-through;
  color: #68707d; }

.container__product-amount {
  display: flex;
  align-items: center; }
  .container__product-amount .input-amount {
    margin: 0 20px 0 20px; }

.btn__minus, .btn__plus {
  display: flex;
  align-items: center;
  border: none;
  background-color: #fff; }

html {
  box-sizing: border-box;
  font-size: 16px; }

*, *:before, *:after {
  box-sizing: inherit; }

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0; }

ol, ul {
  list-style: none; }

img {
  max-width: 100%;
  height: auto; }

body {
  font-size: 1em;
  font-family: 'Kumbh Sans' , sans-serif; }
