/*------cart modal------*/




.cart__modal-product {
    width: 100%;
    height: 3.75rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1em;
    color: map-get($color , c-dark-grayish-blue);
    margin-bottom: 24px;
}




.cart__modal-product-price {
    display: flex;

    &--input-amount {
        margin-left: 5px;
    }
}

.popup__product-total {
    margin-left: 10px;
    font-weight: bold;
    color: map-get($color , c-black);    
}