.popup { 
    width: 360px;
    height: auto;
    min-height: 256px;
    position: absolute;
    display: none;
    background-color: map-get($color , c-white);
    top: 8px;
    right: 8px;
    border-radius: 0.625rem;
    box-shadow: 0 0.625rem 1.25rem -0.375rem #777;
    z-index: 999;

    &.is-active {
        display: block;
    }

    @include for-size(phone-large) {      
        top: -68px;
        right: -12%;
        z-index: 3;
    }

    @include for-size(phone-small) {
        z-index: 5;
        width: 95%;
        right: 10px;
    }
    
    @include for-size(small-resolution) {
        z-index: 2;
    }
}

.popup__header {
    font-size: 1em;
    color: map-get($color , c-dark);
    font-weight: bold;
    padding: 24px;
    border-bottom: 1px solid map-get($color , c-light-gray);
}

.popup__text {
    color: map-get($color , c-dark-grayish-blue);
    text-align: center;
    font-weight: bold;
}

.popup__empty-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 77px 0 85px;
}

.popup__full-content {
    display: none;
}

.popup__img{
    width: 50px;
    height: auto;
    border-radius: 4px;
    margin-right: 16px;
    display: inline-block;
}

.popup__product {
    line-height: 1.6;
    display: inline-block;
}

.popup__product-total {
    margin-left: 10px;
    font-weight: bold;
    color: map-get($color , c-black);    
}

.popup__product-wraper {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
}

.popup__product-price {
    display: flex;
}

.popup__bin {
    padding-left: 18px;
}
.popup__bin-img {
    width: 14px;
}

.popup__content {
    padding: 0 24px 32px 24px;
}