$app: (
    container-main: 1200px,
);


$color: (
    c-orange: 	#ff7d1a,
    c-orange-pale: 	#ffede0,

    c-vark-blue: 	#1d2025,
    c-grayish-blue: 	#b6bcc8,
    c-dark-grayish-blue: 	#68707d,
    c-light-grayish-blue: 	#f7f8fd,
    c-light-gray: #e4e9f2, 

    c-white: #fff,
    c-black: #000, /* whit 75% opacity for lightbox background */
);