.container__product {
    width: 100%;
    height: auto;
    border-radius: 0;
    position: relative;
    
    @include for-size(phone-large) {
        width: 100%;
        max-width: 445px;
        min-height: 565px;
        margin-right: 7.8125rem;
    } 
}

.container__product-img, .container__modal-img {  
    border-radius: 0.625rem; 
}

.productImg {
    display: block;
    border-radius: 0.625rem;
}

.product {
    border-radius: 0;

    @include for-size(phone-large) {
        display: block;
        border-radius: 0.625rem;
    }
}

.container__thumbnails {
    display: none;

    @include for-size(phone-large) {
        display: flex;
        justify-content: space-between;
        margin-top: 2rem;
    }
}

.thumb-img, .thumb-img-modal {
    display: block;
    border-radius: 0.625rem;
    width: 5.5rem;
    height: auto;

    &.is-active {
        border: 2px solid map-get($color , c-orange);
        border-radius: 0.625rem;
        opacity: 0.5;
    } 
}

