.container-product {
    width: 100%;
    height: auto;
    min-height: 300px;
    border-radius: 0;
    position: relative;
    
    @include for-size(phone-large) {
        width: 100%;
        max-width: 445px;
        margin-right: auto;
    } 
}

.product-img {
    width: 100%;
    height: 300px;
    cursor: pointer;
    background-image: url('/dist/assets/images/image-product-1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 0;
    margin-bottom: 24px;
    

    @include for-size(phone-large) {
        display: block;
        border-radius: 0.625rem;
        height: 445px;
        margin-bottom: 32px;
    }
}

.container__product-img, .container__modal-img {  
    border-radius: 0.625rem; 
    margin-bottom: 32px;
}

.productImg {
    display: block;
    border-radius: 0.625rem;
}

.product__thumbnails {
    display: none;
    width: 100%;
    max-width: 445px;

    @include for-size(phone-large) {
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
    }
}

.thumb-img, .thumb-img-modal {
    display: block;
    border-radius: 0.625rem;
    width: 5.5rem;
    height: auto;

    &.is-active {
        border: 2px solid map-get($color , c-orange);
        border-radius: 0.625rem;
        opacity: 0.5;
    } 
}

