.product__content{
    width: 100%;
    height: auto;
    padding: 0 1.5rem;

    @include for-size(phone-large) {
        width: 100%;
        max-width: 445px;
        padding: 0;
    } 
}

.product__title-container {
    width: 100%;
    height: auto;

    @include for-size(phone-large) {
        margin-top: 3.875rem;
    }
}

.product__company {
    font-size: 0.8125em;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 16px;
    color: map-get($color , c-orange);

    @include for-size(phone-large) {
        font-size: 0.75em;
    }
}

.product__title {
    font-size: 1.75em;
    line-height: 32px;
    margin-top: 1.5rem;

    @include for-size(phone-large){
        font-size: 2.75em;
        line-height: 48px;
    }
}

.product__desc {
    width: 100%;
    height: auto;
    margin-top: 2rem;

    @include for-size(phone-large){
        margin-top: 2rem;
    }
}

.product__desc-text{
    font-size: 0.9375em;
    line-height: 26px;
    color: map-get($color , c-dark-grayish-blue);

    @include for-size(phone-large){
        font-size: 1em;
    }
}

.product-sale {
    display: flex;
    align-items: center;
    margin-top: 1.5rem;  
    justify-content: space-between;

    @include for-size(phone-large){
        display: block;
        margin-top: 2rem;  
    }
}

.product-sale__price {
    display: flex;
    align-items: center;  
}

.product-sale__price-new {
    width: 100px;
    height: 35px;
    font-size: 1.75em;
    line-height: 34px;
    font-weight: 700;
    margin-right: 1.4375rem;

    @include for-size(phone-large){
        margin-right: 1rem;  
    }
}

.product-sale__price-off {
    width: 32px;
    height: 20px;
    font-size: 1em;
    line-height: 20px;
    padding: 0.125rem;
    color: map-get($color , c-orange);
    background-color: map-get($color , c-orange-pale);
}

.product-sale__regular {
    width: 63px;
    height: 26px;
    color: map-get($color , c-grayish-blue );

    @include for-size(phone-large){
        margin-top: 0.1875rem;
    }
}

.product-sale__regular-old {
    font-size: 1em;
    line-height: 26px;
    text-decoration-line: line-through;
}

.container__product-amount {
    display: block;
    align-items: center;
    margin-top: 1.5rem;
    justify-content: space-between;

    @include for-size(phone-large) {
        display: flex;
    } 
}

.container__product-input {
    width: 100%; 
    height: auto;
    min-height: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    padding: 0 1.25rem;

    @include for-size(phone-large) {
        max-width: 157px;
        display: flex;
        margin-bottom: 0;
        padding: 0;
        margin-right: 1rem;
    }
}

.container__input-amount {
    font-size: 16px;
    line-height: 20px;
    margin: 0 1.875rem;
}
