.container {
    display: block;
    width: 100%;
    height: auto;
    margin: 0 auto;   
    
    @include for-size(phone-large) {
        display: flex;
        max-width: 1015px;
        min-height: 565px;
        margin-top: 3.125rem;
    }
}