.container {
    display: block;
    width: 100%;
    height: auto;
<<<<<<< HEAD
<<<<<<< HEAD
    margin: 0 auto;   
    position: relative;
=======
>>>>>>> 8c1d524 (changes)
=======
>>>>>>> 8c1d524acfff80190e0dbe6d9ae0cd82f08a72f8
    
    @include for-size(phone-large) {
        display: flex;
        max-width: 1015px;
        min-height: 565px;
        margin-top: 50px;
    }
}

.overlay {
    display: flex;
    justify-content: center;
}