.container {
    display: block;
    width: 100%;
    height: auto;
    
    @include for-size(phone-large) {
        display: flex;
        max-width: 1015px;
        min-height: 565px;
        margin-top: 50px;
    }
}

.overlay {
    display: flex;
    justify-content: center;
}