.header {
    width: 100%;   
    height: 4.375rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
        @include for-size(phone-large) {
        border-bottom: 1px solid map-get($color, c-grayish-blue);
        max-width: 62rem;
    }
}

.menu-1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cart {
    width: 1.375rem;
    height: 1.5rem;
    cursor: pointer;
}

.user-photo {
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    border: 2px solid transparent;
    border-radius: 50%;
    margin-left: 1.25rem;

    &:hover {
        border: 2px solid map-get($color, c-orange);
    }

    img {
        max-width: 100%;
        height: auto;
    }
    
    @include for-size(phone-large) {
        width: 3.5rem;
        height: 3.5rem;
    }
}
