.container {
    display: block;
    justify-content: space-between;
    max-width: 100%;
    height: auto;
    margin: 0 auto;   
    @include for-size(phone-large) {
        display: flex;
        width: 55%;
        margin-top: 50px;
    }
}