.btn__minus, .btn__plus {
    display: flex;
    align-items: center;
    border: none;
    background-color: map-get($color , c-white);
}
.btn__add-to-cart {
    width: 100%;
    height: 2.5rem;
    max-width: 15rem;
    margin-right: 1.875rem;
    background-color: map-get($color , c-orange );
    border: none;
    border-radius: 0.313rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: map-get($color , c-white);
}
.btn__add-to-cart-img {
    margin-right: 10px;
}