@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;800&display=swap');

@import 'base/config'; 
@import 'config/_mediaQueries';
@import 'components/_buttons';
@import 'components/_navigation';
@import 'components/_cart-modal';
@import 'components/_header';

@import 'layout/_section';
@import 'layout/_container__product';
@import 'layout/_container__product-main';
@import 'layout/_modal';


html {
    box-sizing: border-box;
    font-size: 16px;
  }  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
  } 
  ol, ul {
    list-style: none;
  }  
  img {
    max-width: 100%;
    height: auto;
  }
body {
    font-size: 1em;
    font-family: 'Kumbh Sans' , sans-serif;
}


